
.wrapper{
    display: flex;
    align-items: center;
}

.article__rightside,
.article__leftside{
    width: 50%;
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}


.article__rightside{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.article__rightside > h3 {
    font-size: 2em;
}

.icons{
    display: flex;
    gap: 1.5em;

}
.project__links{
    display: flex;
    gap: 1.5em;
}

/*==============MEDIA QUERY FOR PHONES (SMALL DEVICES / SCREEN WIDTH 600PX OR SMALLER )====================*/

@media screen and (max-width: 50em) {
    .wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .article__rightside,
    .article__leftside{
        width: 100%;
    }

    .article__rightside{
        padding: 0 2.25em;
        gap: 0.75em;
    }


}