.skills__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: var(--color-bg-variant);

}

.skills__container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    gap: 3em;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3em;

}

.skills li {
    flex-basis: 24%;
    text-align: center;
    padding-top: 0.25em;
}

.skills li:hover{
    background-color: var(--color-yellow-theme);
    color: black;
    border-radius: .5em;
}

.skill__icon{
    font-size: 2em;
}

.skill__icon_small, 
.devicon-sass-original, 
.devicon-git-plain,
.devicon-github-original{
    font-size: 2.5em;
}
