.about__section{
  
    display: flex;
    flex-direction: column;
    letter-spacing: 0.1rem;
    min-height: 100vh;
    background: var(--color-bg-variant);
}

.about__container{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: 3em;
}
.about-social-follow{
    display: flex;
    justify-content: center;
    gap: 2em;
    font-size: 2em;
}