
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --color-bg: rgb(0,0,0);
    --color-bg-variant: rgba(18, 18, 18, 0.6);
    --color-yellow-theme:#f16821;
    --color-white: white;
    --transition: all 400ms ease;

}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
    min-height: 100vh;
    min-width: 100%;
}

/* =================== GENERAL STYLING / GLOBAL STYLING ======================= */
.container{
    margin: 0 auto 8em auto;
    min-height: 100vh;
    margin-right: 7em;
    letter-spacing: 0.1rem;
}
.wrapper{
    width: 70%;
    margin: 0 auto; 
    padding: 8em 0;
    background: var(--color-bg-variant);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
h1, h2, h3, h4, h5{
    font-weight: 500;
}
h1{
    font-size: 2.5rem;
    text-transform: uppercase;
}



.wrapper > h2 {
    text-align: center;
    color: var(--color-yellow-theme);
    font-size: 2.2em;
    text-transform: uppercase;
    text-shadow: 1.15px 1.15px var(--color-white);
}

a{
    color: var(--color-yellow-theme);
    transition: var(--transition);
}
a:hover{
    color: var(--color-white);
}

.btn{
    width: max-content;
    display: inline-block;
    color: var(--color-yellow-theme);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-yellow-theme);
    transition: var(--transition);
}

.btn:hover{
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary{
    background: var(--color-yellow-theme);
    color: var(--color-bg);
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}




/*==============MEDIA QUERY FOR TABLET (MEDIUM DEVICES / SCREEN WIDTH 1024PX OR SMALLER )====================*/

/* @media screen and (max-width: 1024px) {

} */


/*==============MEDIA QUERY FOR PHONES (SMALL DEVICES / SCREEN WIDTH 600PX OR SMALLER )====================*/

@media screen and (max-width: 600px) {

    .container{
        margin: 0 auto 6em auto;
        margin-right: auto;
    }
    .wrapper{
        width: 90%;
    }
}


@media screen and (max-width: 20em) {

    .container{
        min-width: 100%;
    }

}