
nav{
    background: var(--color-bg-variant);
    z-index: 2;
    padding: 1.5em;
    position: fixed;
    right: 0%;
    min-height: 100vh;
    width: 7em;
    display: flex;
    flex-direction: row;
}

.navmenu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.nav__link__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

nav a {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75em;
    text-align: center;
    height: 2em;
    width: 2em;
    border-radius: 50%; 
}

.active-link{
    background: var(--color-yellow-theme);
    color: var(--color-bg);
    border-radius: 50%;
  }



/*==============MEDIA QUERY FOR LARGE MONITOR SCREEN====================*/

@media screen and (min-width: 86em) {
    nav a {
        font-size: 2.15em;
    }

}


/*==============MEDIA QUERY FOR PHONES (SMALL DEVICES / SCREEN WIDTH 600PX OR SMALLER )====================*/
@media screen and (max-width: 52em) {

 nav{
    background: rgba(18, 18, 18, 0.6);
    width: max-content;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.75em;
    display: flex;
    flex-direction: row;
    gap: 1em;
    border-radius: 2rem;
    min-height: auto;
} 

.navmenu{
    flex-direction: row;
}

    .nav__link__wrapper > p {
        display: none;

    }
}

@media screen and (max-width: 26em){

    nav{
        padding: 0.75em;
        gap: 0.8em;
    }
}

@media screen and (max-width: 20em) {
    nav{
        padding: 0.5em;
        gap: 0.25em;
    }
}
